[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
markdown = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-httpauth = "*"

[requires]
python_version = "3.8"
